body{
	width: 100%;
	height: 100%;
}
section
{
    width: 100%;
    height: 87vh;
   border: 2px solid;
   display: flex;
}
section .aside{
	width: 20%;
	
	border: 2px solid green;
}
section .displaysection
{
	width: 80%;
	border: 2px solid;
}
section .displaysection form
{
	width: 100%;
	height: 32px;
	background-color: rgb(56, 134, 148);
}
section .displaysection form input[placeholder]
{
	margin-left: 50px;
	margin-top: 2px;
	width: 200px;
	height: 27px;	
	border: none;
	border-radius: 5px;
	}
	
section .displaysection form .rrr
{
	margin-top: 2px;
	width: 150px;
	height: 27px;
	background-color: silver;
	border-radius: 5px;
	border: none;	
	}
section .displaysection table,thead,th,td
{
	padding :20px;
	border: 2px solid black;
}
	
	
	
	
	